<div class='container'>
<div class='panel'>
  <div class='panel-heading text-center'>
    <h1>ADMIN DASHBOARD</h1>
  </div>
</div>
<div class='col-md-4 col-md-offset-4'>
<h3>Create a new event</h3>
<%= form_for @event do |f| %>

  <%= f.text_field :title, class: 'form-control', placeholder: 'title' %>
  <%= f.text_area :description,  class: 'form-control' , placeholder: 'description' %>
  <%= f.text_field :location,  class: 'form-control', placeholder: '1500 Blake St. Denver, CO' %>
  <%= f.datetime_select :time, :ampm => true, :minute_step => 15 %>
  <%= f.submit 'Create Event', class: 'btn btn-danger btn-block btn-create-event' %>
<% end %>
</div>
</div>